* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --pink_color: salmon;
    --black_color: black;
}

.main_border_div {
    border-bottom: 0.5px solid rgb(110, 110, 110);
}

.upper_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
    max-width: 70%;
    margin-left: 15%;
}

.social_media_icon i {
    background-color: rgb(235, 235, 235);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.social_media_icon i:hover {
    background-color: var(--pink_color);
    color: white;
}

.upper_heading p {
    font-size: 12px;
}

.right_selectors .select {
    border: none;
}

.main_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    max-width: 70%;
    margin-left: 15%;
}

.title h1 {
    font-size: 30px;
    color: var(--pink_color);
}

.searching {
    /* border: 1px solid rgb(110, 110, 110);
    border-radius: 10px;
    padding: 1px 5px; */
}

.searching input {
    border: 1px solid rgb(110, 110, 110);
    border-radius: 10px;
    padding: 1px 10px;
    width: 40em;
    height: 2.5em;
}

.searching i {
    color: rgb(87, 85, 85);
    margin-left: -40px;
}

.logo {
    display: flex;
}

.logo .heart {
    position: relative;
    margin: 0 20px;
    font-size: 20px;
}

.human {
    font-size: 20px;
}

.logo .cart {
    position: relative;
    font-size: 20px;
}

.logo .absolute {
    background-color: var(--pink_color);
    color: white;
    font-size: 12px;
    padding: 0 2px;
    border-radius: 25px;
    position: absolute;
    bottom: 18px;
    left: 14px;
    align-items: center;
}

main {
    max-width: 70%;
    margin-left: 15%;
}

.intro_heading {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_heading a {
    text-decoration: none;
    color: var(--black_color);
    margin: 0px 20px;
    font-size: 15px;
}

.banner {
    position: relative;
}

.banner_image img {
    width: 100%;
    border-radius: 10px;
}

.banner_text {
    width: 25em;
    position: absolute;
    top: 6em;
    left: 6em;
}

.banner_text .first_h3 {
    color: var(--pink_color);
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.banner_text h3 {
    color: rgb(87, 85, 85);
    letter-spacing: 1px;
    margin-top: 5px;
}

.banner_text h3 span {
    font-size: 30px;
    font-weight: bold;
}

.banner_text button {
    padding: 5px 8px;
    color: white;
    background-color: var(--pink_color);
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

.horizontal_blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.blocks {
    border: 1px solid rgb(219, 219, 219);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.img_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blocks .block_img img {
    background-color: lightgray;
    padding: 5px;
    border-radius: 5px;
    border: .5px solid gray;
}

.blocks .block_text h5 {
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
}

.blocks .block_text h6 {
    font-weight: bold;
    color: var(--pink_color);
    margin-top: 10px;
    margin-left: 8px;
}

.blocks .block_number {
    font-size: 10px;
    color: rgb(110, 110, 110);
    margin-bottom: 24px;
}

.sticky {
    position: sticky;
    top: 30px;
}

.first_aside {
    border: 1px solid rgb(192, 192, 192);
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
    padding: 15px;
}

.first_aside h4 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.first_aside .lines {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.second_aside {
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    padding: 15px;
}

.image_text_rating {
    display: flex;
}

.image_text_rating .img {
    margin-top: 10px;
}

.second_aside_img_text {
    margin-left: 10px;
}

.second_aside_img_text h6 {
    margin-top: 10px;
}

.second_aside_img_text i {
    color: orange;
    font-size: 8px;
}

.second_aside_img_text .p_span {
    display: flex;
}

.second_aside_img_text .p_span p {
    font-size: 12px;
    margin-top: 3px;
    color: rgb(110, 110, 110);
    text-decoration: line-through;
}

.second_aside_img_text .p_span span {
    text-decoration: none;
    font-size: 12px;
    margin-top: 3px;
    margin-left: 5px;
    font-weight: bold;
}

.aside_and_main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 50px;
}

.main_content {
    width: 72%;
}

.main_content .small_containers {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_first_row h4 {
    font-size: 14px;
    margin-top: 40px;
    width: 210px;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-bottom: 10px;
}

.main_image_text_rating {
    display: flex;
    border: 1px solid rgb(219, 219, 219);
    width: 200px;
    padding: 5px 5px;
    border-radius: 10px;
    margin-top: 10px;
}

.main_image_text_rating .img {
    margin-top: 10px;
}

.main_img_text {
    margin-left: 10px;
}

.main_img_text h6 {
    margin-top: 10px;
}

.main_img_text i {
    color: orange;
    font-size: 8px;
}

.main_img_text p {
    font-size: 14px;
    margin: 5px 0;
    color: rgb(110, 110, 110);
}

.main_img_text .p_span {
    display: flex;
}

.main_img_text .p_span p {
    font-size: 12px;
    margin-top: 3px;
    margin-left: 5px;
    color: rgb(110, 110, 110);
    text-decoration: line-through;
}

.main_img_text .p_span span {
    text-decoration: none;
    font-size: 12px;
    margin-top: 3px;
    font-weight: bold;
    color: var(--pink_color);
}

.deal_of_day h4 {
    margin-top: 50px;
    font-size: 17px;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-bottom: 5px;
}

.deal_img_text {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    padding: 2px 0px 30px 2px;
}

.deal_text_button {
    width: 400px;
    padding-top: 20px;
}

.deal_text_button i {
    color: orange;
    font-size: 11px;
}

.deal_text_button h5 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
}

.deal_text_button p {
    font-size: small;
    color: rgb(110, 110, 110);
    margin-top: 5px;
}

.deal_p_span {
    display: flex;
}

.deal_p_span span {
    font-size: 18px;
    font-weight: bold;
    color: var(--pink_color);
    margin-top: 5px;
}

.deal_p_span p{
    font-size: 18px;
    font-weight: bold;
    text-decoration: line-through;
    margin-left: 10px;
}

.deal_text_button button {
    font-size: 11px;
    font-weight: bold;
    color: white;
    background-color: var(--pink_color);
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
}

.already_sold {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

.already_sold h6 {
    margin: 0px 5px;
}

.already_sold span {
    font-weight: bolder;
}

.graph {
    padding: 3px;
    background-color: lightgrey;
    border-radius: 25px;
    margin-top: 10px;
}

.graph .sold {
    padding: 1px;
    background-color : var(--pink_color);
    border-radius: 25px;
    width: 40%;
}

.deal_text_button h6 {
    font-size: 11px;
    margin-top: 10px;
}
.time_left {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.time_left p {
    background-color: rgb(219, 219, 219);
    width: 30px;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}

.time_left p span {
    font-size: 14px;
    font-weight: bold;
}

.product_list {
    margin-top: 30px;
}

.product_list h4 {
    font-size: 17px;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding-bottom: 5px;
}

.items_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_blocks {
    width: 23%;
}

.item_blocks {
    border: 1px solid rgb(219, 219, 219); 
    width: 80%;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
}

.item_blocks h6 {
    color: var(--pink_color);
}

.item_blocks p {
    font-size: small;
    margin-top: 10px;
}

.item_blocks i {
    color: orange;
    font-size: 11px;
}

.item_blocks .p_span {
    display: flex;
    margin-top: 5px;
}

.item_blocks .p_span p {
    font-size: 12px;
    margin-top: 3px;
    color: rgb(110, 110, 110);
    text-decoration: line-through;
    margin-left: 5px;
}

.item_blocks .p_span span {
    text-decoration: none;
    font-size: 12px;
    margin-top: 3px;
    font-weight: bold;
}

.upper_footer {
    display: flex;
    padding-bottom: 30px;
}

.testimonial{
    width: 25%;
}

.testimonial h4 {
    border-bottom: 1px solid rgb(219, 219, 219);
}

.testimonial_block {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.testimonial_block img {
    clip-path: circle();
}

.testimonial_block h4 {
    font-size: 12px;
    font-weight: bolder;
    width: 100%;
    margin-top: 30%;
}

.testimonial_block h5 {
    font-size: 12px;
    margin-top: 4%;
    color: rgb(110, 110, 110);
}

.testimonial_block i {
    font-size: 30px;
    margin-top: 4%;
    color: var(--pink_color);
}

.testimonial_block p {
    text-align: center;
    font-size: 13px;
    margin-top: 4%;
    color: rgb(110, 110, 110);
}

.middle_img_content {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle_img_content img {
    border-radius: 10px;
}

.onImg_text {
    border-radius: 5px;
    width: 40%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 25%;
    top: 25%;
}

.onImg_text p {
    font-size: 12px;
    color: white;
    background-color: black;
    padding: 7px;
    width: 50%;
    border-radius: 5px;
    font-weight: bold;
}

.onImg_text h3 {
    font-size: 20px;
    width: 60%;
    text-align: center;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.856);
}

.onImg_text h4 {
    font-size: 13px;
    color: rgb(110, 110, 110);
    margin-top: 8px;
}

.onImg_text h5 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 7px;
}

.service h4 {
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 100%;
}

.service_block {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.service_lines i {
    font-size: 25px;
    color: var(--pink_color);
    padding-right: 30px;
}

.service_lines {
    width: 100%;
    padding: 6px;
    display: flex;
    justify-content: left;
}

.service_lines h6{
    color: rgb(110, 110, 110);
}

.service_lines h5 {
    color: rgba(0, 0, 0, 0.856);
}

.service_lines h5 {
    margin-bottom: 5px;
}

.service_lines .last {
    margin-left: 5px;
}

.vlog {
    display: flex;
    justify-content: space-between;
}

.vlog_block {
    margin-top: 20px;
    width: 23.5%;
    margin-bottom: 5%;
}

.vlog_block img {
    border-radius: 10px;
}

.vlog_block h6 {
    color: var(--pink_color);
    margin-top: 10px;
    font-size: 12px;
}

.vlog_block h4 {
    font-size: 14px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.856);
}

.vlog_block h5 {
    font-size: 12px;
    margin-top: 10px;
    color: rgb(110, 110, 110);
}